/* Main CSS */

/* Main Visual CSS */

.main_visual_wrap { 
   width: 100%;
   padding: 0 48px;
}

.main_visual {
   width: 100%;
   padding: 0 8px;
   display: flex;
}

.main_visual_1 {
   width: 50%;
   height: 900px;
   background-image: url(../img/nike-just-do-it_1.png);
   padding: 36px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.main_visual_2 {
   width: 50%;
   height: 900px;
   background-image: url(../img/nike-just-do-it_2.png);
   padding: 36px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
}

.main_visual_1:hover,
.main_visual_2:hover {
   cursor: pointer
}

.main_visual_1 img,
.main_visual_2 img {
   display: none;
}

.main_visual_text_m {
   display: none;
}


/* The Latest And Greatest CSS */

.lng_wrap {
   margin: 84px 0 0;
   width: 100%;
}

.lng_scroll_wrap {
   width: 100%;
   overflow: scroll;
   padding: 0 48px 20px 48px;
}

.lng {
   width: 200%;
   display: flex;
}

.lng li {
   width: calc(16.6667% - 16px);
   height: auto;
   margin: 0 8px;
}

.lng li a {
   display: block;
   width: 100%;
   height: 100%;
}

.lng li img {
   width: 100%;
   vertical-align: middle;
}

.lng_text { 
   display: flex; 
   justify-content: space-between; 
   margin: 12px 16px 0 0 ;
}


/* Just In CSS */

.just_in_wrap { 
   width: 100%; 
   padding: 84px 48px 0; 
}

.just_in { 
   width: 100%; 
   display: flex;
}

.just_in_1 { 
   width: calc(50% - 16px); 
   height: 700px; 
   background-image: url(../img/nike-just-do-it_1.jpg); 
   margin: 0 8px; 
}

.just_in_2 { 
   width: calc(50% - 16px); 
   height: 700px; 
   background-image: url(../img/nike-just-do-it_2.jpg); 
   margin: 0 8px; 
}

.just_in_1_a, 
.just_in_2_a { 
   width: 100%; 
   height: 100%; 
   display: block; 
   display: flex; 
   flex-direction: column; 
   justify-content: flex-end; 
   padding: 36px;
}

.just_in_1_a:hover, 
.just_in_2_a:hover { 
   background-color: rgba(0,0,0,0.3);
}

/* Featured Footwear CSS */

.footwear_wrap {
   width: 100%;
   padding: 84px 48px 0;
}

.footwear {
   width: 100%;
   padding: 0 8px;
}

.footwear_img {
   width: 100%;
   height: 900px;
   background-image: url(../img/footer.jpg);
   padding: 36px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.footwear_img:hover {
   cursor: pointer;
}

.footwear_text p:first-child {
   line-height: 0.833333;
}

.footwear_img_m {
   display: none;
}

.footwear_text_m {
   display: none;
}

/* Trending Now CSS */

.trending_now_wrap { 
   width: 100%;
   padding: 84px 48px 0; 
}

.trending_now {
   width: 100%; 
   display: flex;
}

.trending_now_1 { 
   width: calc(50% - 16px); 
   height: 700px; 
   background-image: url(../img/Trending_Now_1.jpg); 
   margin: 0 8px; 
}

.trending_now_2 { 
   width: calc(50% - 16px); 
   height: 700px; 
   background-image: url(../img/Trending_Now_2.jpg); 
   margin: 0 8px; 
}

.trending_now_1_a, 
.trending_now_2_a { 
   width: 100%; 
   height: 100%;
   display: block;
   display: flex; 
   flex-direction: column; 
   justify-content: flex-end; 
   padding: 36px;
}

/* Gear for Your Goals CSS */

.gear_wrap { 
   width: 100%; 
   padding: 84px 48px 0; 
}

.gear { 
   width: 100%; 
   display: flex;
}

.gear li { 
   width: calc(33.33333% - 16px); 
   margin: 0 8px;
}

.gear li img { 
   width: 100%; 
   margin:0 0 16px;
}


/* Nike Slogan CSS */

.slogan_wrap {
   width: 100%; 
   padding: 84px 48px 0;
}

.slogan { 
   width: 100%; 
   height: 500px; 
   background-image: url(../img/nike_slogan_1.png); 
   margin: 0 8px; 
   display: flex; 
   justify-content: center; 
   align-items: flex-end; 
   padding: 0 0 30px;
}

.slogan:hover { cursor: pointer;}


/* Main Menu */

.main_menu_wrap { 
   width: 100%; 
   margin: 84px 0 56px 0;
}

.main_menu { 
   width: 100%; 
   padding: 0 20px; 
   margin: 0 auto; 
   display: flex; 
   justify-content: space-between; 
   height: 190px; 
   overflow: hidden; 
   transition: height 0.5s;
}

.main_menu:hover { height: 500px; }

.main_menu ul { width: 192px; }

.main_menu ul li { margin: 0 0 12px 0; }

.main_menu ul li a { color: rgb(117,117,117); }

.main_menu ul li a:hover { color: rgb(17,17,17); }

.main_menu ul li:nth-child(1) { margin: 0 0 24px 0; color: rgb(17,17,17);}



/* CSS for Tablet landscape & Mini Notebook (1280, 1366) */

@media screen and (max-width:1440px) {
   /* Main Visual CSS */
   .main_visual_1, .main_visual_2 { height: 700px; }

   .main_visual_1 p:first-child {
      line-height: 0.833333;
   }

   /* Just In CSS */
   .just_in_1, .just_in_2 {
      height: 500px;
   }

   /* Featured Footwear CSS */
   .footwear_img {
      height: 700px; 
   }

   /* Trending Now CSS */
   .trending_now_1, .trending_now_2 {
      height: 500px;
   }

}

/* CSS for Tablet Portrait */

@media screen and (max-width: 1024px) {
   /* Main Visual CSS */
   .main_visual_1 p:first-child {
      font-size: 48px;
      font-weight: 500;
   }

   .main_visual_wrap {
      padding: 0 20px;
   }

   /* The Latest and Greatest CSS */
   .lng_scroll_wrap {
      padding: 0 12px 20px 12px;
   }

   .lng {
      width: 270%;
   }

   .lng li {
      margin: 0 8px;
   }

   /* Just In CSS */
   .just_in_wrap {
      padding: 84px 12px 0;
   }
   
   /* Featured Footwear CSS */

   .footwear_wrap {
      width: 100%;
      padding: 84px 12px 0;
   }

   .footwear_img {
      height: 500px;
   }

   .footwear_text p:first-child {
      font-size: 48px;
   }

   /* Trending Now CSS */

   .trending_now_wrap {
      padding: 84px 12px 0;
   }

   /* Gear for Your Goals CSS */
   .gear_wrap { 
      padding: 84px 12px 0; 
   }

   .gear_scroll_wrap {
      width: 100%;
      overflow: scroll;
      padding-bottom: 20px;
   }
   
   .gear { 
      width: 1038px; 
   }
   
   .gear li img { 
      width: 330px; 
   }

   /* Nike Slogan CSS */

   .slogan_wrap {
      padding: 84px 12px 0;
   }

   /* Main Menu CSS */

   .main_menu_wrap {
      padding: 84px 12px;
   }
   
   .main_menu {
      padding: 0 8px;
   }

   .main_menu ul {
      width: 25%;
   }

   .main_menu ul li a {
      font-size: 14px;
      line-height: 24px;
   }

   .main_menu ul li:first-child {
      font-size: 14px;
      line-height: 24px;
   }



}

/* CSS for Mobile Portrait */

@media screen and (max-width: 640px) {
   /* Main Visual CSS */
   .main_visual {
      width: 100%;
      padding: 0 8px;
      display: unset;
   }

   .main_visual_1 {
      width: 100%;
      height: 700px;
      padding: 0;
   }

   .main_visual_1_text {
      display: none;
   }

   .main_visual_2 {
      display: none;
   }

   .main_visual_text_m {
      display: block;
   }

   .main_visual_text_m p:first-child {
      line-height: 0.833333;
   }

   /* The Latest and Greatest CSS */

   .lng {
      width: 1892px;
   }

   .lng li {
      width: 300px;
   }

   /* Just In CSS */

   .just_in {
      flex-wrap: wrap;
   }

   .just_in_1 {
      width: 100%;
      height: 500px;
      margin-bottom: 8px;
   }

   .just_in_2 {
      width: 100%;
      height: 500px;
   }

   .just_in_1_a, .just_in_2_a {
      padding: 24px;
   }

   /* Featured Footwear CSS */

   .footwear_img {
      display: none;
   }

   .footwear_text {
      display: none;
   }

   .footwear_img_m {
      display: block;
      width: 100%;
      height: 350px;
      background-image: url(../img/footer.jpg);
   }
   
   .footwear_text_m {
      display: block;
   }
   
   /* Trending Now CSS */

   .trending_now {
      flex-wrap: wrap;
   }

   .trending_now_1 {
      width: 100%;
      height: 500px;
      margin-bottom: 8px;
   }

   .trending_now_2 {
      width: 100%;
      height: 500px;
   }

   .trending_now_1_a, .trending_now_2_a {
      padding: 24px;
   }

   /* Nike Slogan CSS */
   
   .slogan_wrap {
      width: 100%;
      padding: 64px 0 0;
      
   }

   .slogan {
      background-image: url(../img/nike_slogan_2.jpg);
      position: relative;
   }

   .slogan div {
      position: absolute;
      left: 5%;
   }

   /* Main Menu CSS */

   .main_menu { 
      width: 100%; 
      padding: 0 8px; 
      flex-wrap: wrap; 
   }

   .main_menu ul { 
      width: 100%; 
      height: 40px; 
      overflow: hidden;
   }

   
}